* {
    margin: 0px;
    padding:0px ;
}
body{
    background-color: #f1f1f1;
}
#container
{
    background-color: white;
    margin: auto;
    text-align: center;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1.5fr 1.5fr 5fr 1fr;
    font-family: 'Lato', sans-serif;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149); 
}
#shopName 
{   margin:0rem 2rem;
    font-size: 30px; 
    font-family: 'Lato', sans-serif;
}
#shopName a
{
    text-decoration: none;
    color: rgb(29, 29, 29);
}
a {
    text-decoration: none;
    color: white;
}
.list-mobile-new div{
    margin: 1rem 0px;
    text-align: left;   
}
.drawerView{
    position: absolute;
    top: -1.2rem;
    right:1rem;
    display: none;
}

#collection
{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#collection a
{
    margin: 1rem;
    text-decoration: none;
    color: rgb(29, 29, 29);
}

.search
{
    padding: 14px;
    /* color: gray; */
    color: rgb(29, 29, 29);
    min-width: 25px;
    text-align: center;
    position: absolute;
}

#input 
{
    width: 20rem;
    height: 3rem;
    padding: 2px 50px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
}
#input::placeholder
{
    font-weight: bold;
}
#input:focus
{
    outline: none;
}
#input-2 
{
    width: 10rem;
    height: 2rem;
    padding: 5px;
    background-color: rgb(241, 241, 241);
    border: none;
    border-radius: 5px;
}
#input-2::placeholder
{
    font-weight: bold;
    font-size: .8rem;
}
#input-2:focus
{
    outline: none;
}

.split {
    display: flex;
    background-color: #f1f1f1;
}

.split .title {
    margin: 1rem 0px;
}
.split .description {
    margin: 1rem 0px;
}

.main{
    width: 70%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    margin: 3rem auto;
}

#img-cart {
    background-color: #f1f1f1;
    width:14rem  ;
    height: auto;
}

.card-horizontal{
    background: #f1f1f1;    
    width: 35.5%;
    border-radius: 5px;
    margin: 0.8rem;
}

.card-content {
    text-align: left;
    background: #f1f1f1;
}
.quantity {
    width: 15px;
    text-align: center;
}

.quantityAdd {
    padding:2px 7px;
}

.quantityMinus {
    padding:2px 7px;
}

.btn-error {
    width: 13rem;
    margin: 3rem 0px 0px 0px;
    display: block;
}

.btn-success {
    color: #f1f1f1;
    padding: 0.4rem;
    margin: 1.5rem 15px 0px 0px;
    width: 13rem;
    display: block;
}

.cart-prices {
    width: 25%;
    background-color: #f1f1f1;
    padding: 1rem;
}
.cart-prices .title {
    margin: 1rem 0px 0.5rem 0px;
}

.priceBox {
    margin: 2rem 0px;
    display: flex;
    justify-content: space-between;
}

.btn-primary {
    width: 15rem;
}