* {
    margin: 0px;
    padding:0px ;
}
body{
    background-color: #f1f1f1;
}
#container
{
    background-color: white;
    margin: auto;
    text-align: center;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1.5fr 1.5fr 5fr 1fr;
    font-family: 'Lato', sans-serif;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149); 
}
#shopName 
{   margin:0rem 2rem;
    font-size: 30px; 
    font-family: 'Lato', sans-serif;
}
#shopName a
{
    text-decoration: none;
    color: rgb(29, 29, 29);
}
a {
    text-decoration: none;
    color: white;
}
.list-mobile-new div{
    margin: 1rem 0px;
    text-align: left;   
}
.drawerView{
    position: absolute;
    top: -1.2rem;
    right:1rem;
    display: none;
}

#collection
{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#collection a
{
    margin: 1rem;
    text-decoration: none;
    color: rgb(29, 29, 29);
}

.search
{
    padding: 14px;
    /* color: gray; */
    color: rgb(29, 29, 29);
    min-width: 25px;
    text-align: center;
    position: absolute;
}

#input 
{
    width: 20rem;
    height: 3rem;
    padding: 2px 50px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
}
#input::placeholder
{
    font-weight: bold;
}
#input:focus
{
    outline: none;
}
#input-2 
{
    width: 10rem;
    height: 2rem;
    padding: 5px;
    background-color: rgb(241, 241, 241);
    border: none;
    border-radius: 5px;
}
#input-2::placeholder
{
    font-weight: bold;
    font-size: .8rem;
}
#input-2:focus
{
    outline: none;
}

#range {
    border:  #000000 2px solid;
    border-radius: 10px;
    height: 20px;
    width: 14rem;
}

.content {
    margin: 0.5rem 0px 1rem 0px;
    width: 15rem;
}
.side-clear{
    text-align: right;
    margin:-1.5rem 0px 2rem 0px;
}
.sideBar {
    margin: 5px;
    background-color: white;
    width: 15rem;
    padding:1rem 2rem ;
    border-radius: 5px;
}

.filters {
    display: block;
    margin: 1rem 0px;
    font-size: 1.3rem;
}
.sidetitle {
    margin-top: 1rem;
}
.side-clear:hover {
    color: #4b4bfc;
    text-decoration: line-through;
    cursor: pointer;
}
.heroSection {
    display: inline-block;
    margin: 5px;
}
.products{
    padding: 1rem;
    background-color: white;
}

.main {
    display: flex;
    flex-direction: row;
}
.card-ecommerce {
    display: inline-block;
    margin: 2.5rem;
}
#heart{
    font-size: 1.5rem;
    margin-left: 40%;
    color: black;
}

#heart:hover{
    color: red;
}


